/*
 Primary Color : #00e0d0
*/

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf')
}
@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto/Roboto-Light.ttf')
}
@font-face {
    font-family: PlayfairDisplay;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf')
}
@font-face {
    font-family: Hammersmith_One;
    src: url('../fonts/Hammersmith_One/HammersmithOne-Regular.ttf')
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow-y: scroll; */
}

body {
    background-color: #fff;
}

.container {
    width: 940px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
button {
    background: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    color: #00e0d0;
    font-family: 'Hammersmith_One';
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: .5s;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #00e0d0;
}

.header .container {
    height: 670px;
}

.header {
    background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url('../img/jpg/PUT YOUR IMAGE HERE.jpg');
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 670px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 15px;
}

.navigation ul {
    display: flex;
    width: 530px;
    justify-content: space-between
}

a {
    text-decoration: none;    
}

.navigation li{
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    /* padding-left: 25px; */
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.navigation li:hover {
    color: #00e0d0;
}

.main {
    position: relative;
    top: 130px;
}

.main .text {
    color: #fff
}

.main .text h1 {
    font-family: 'PlayfairDisplay';
    text-align: center;
}
.separateur {
    content: '';
    height: 1px;
    width: 50px;
    background: #00e0d0;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.text p {
    font-family: 'Roboto-Light';
    font-size: 14px;
    word-spacing: 4px;
    line-height: 1.571;
}
.main .text p {
    width: 780px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 22px 0 44px 0;
}

.main button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.dots {
    display: flex;
    position: relative;
    width: 55px;
    justify-content: space-between;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
}
.dot {
    width: 8px;
    height: 8px;
    border: 1px solid #00e0d0;
    border-radius: 50%;
}
.dot-active {
    background-color: #00e0d0;
    border-color: #00e0d0;
}

.our_story {
    height: 262px;
    padding: 70px 0;
    display: grid;
    grid-template-columns: 235px auto;
    grid-column-gap: 100px;
}

.our_story .right h1 {
    font-family: 'PlayfairDisplay';
    font-size: 22px;
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.our_story .text p{
    color: rgba(65, 61, 75, 0.749);
    padding-bottom: 30px;
    margin: 0;
}
.our_story .text {
    margin-top: 28px;
}


.content .container-fluid {
    height: 550px;
    overflow: hidden;    
    
}
.video {
    overflow: hidden;
    height: 550px;
    z-index: -100;
    
}

#myVideo {
    position: relative;
    top: -25%;
    min-width: 100% !important;
    z-index: -100;
    
}
.play {
    background-image: linear-gradient( 0deg, rgb(9, 5, 47) 0%, rgb(49, 29, 94) 100%);
    opacity: 0.851;
    z-index: 999;
    height: 550px;
    position: relative;
    top: -550px;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 146px;
    width: 158px;
    transform: translate(-50%, -50%);
}
.btn-play img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.btn-play h3 {
    font-size: 16px;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
}

.expertise {
    height: 755px;
}

.expertise .title {
    font-family: 'PlayfairDisplay';
}

.expertise .title h2 {
    font-size: 22px;
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-top: 70px;
}
.expertise .title p {
    color: rgba(47, 45, 53, 0.749);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-top: 17px 0 20px 0;
}
.expertise .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0;
    grid-row-gap: 100px;
}

.expertise .item {
    width: 300px;
}
.expertise .item img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.expertise .item h4 {
    font-family: 'Roboto';
    font-size: 14px;
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
}

.expertise .item p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
}

.team {
    height: 712px;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%),
    url('../img/jpg/PUT YOUR IMAGE HERE 2.jpg');
    background-size: cover; 
    background-position: center;  
    position: relative;  
}

.team .title {
    font-family: 'PlayfairDisplay';
}

.team .title h2 {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-top: 70px;
}
.team .title p {
    color: #f9f9f9;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-top: 17px 0 20px 0;
    font-weight: 100;
}

.team .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}
.team .item {
    width: 220px;
}
.team .item .description {
    border: 1px solid #fff;
    position: relative;
    top: -10px;;
}

.team .item .description h4{
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.team .item .description p {
    font-size: 13px;
    font-family: "Roboto";
    color: rgba(250, 250, 250, 0.702);
    line-height: 1.2;
    text-align: center;
}

.team .bottom {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(243, 243, 243);
    line-height: 1.2;
    text-align: center;
    margin-top: 50px;
}
.team .bottom p {
    margin-bottom: 30px;
}

.works {
    height: 740px;
}
.works .title {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 70px 0; 
}
.works .title h2 {
    font-size: 22px;
    font-family: "Playfair Display";
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    
}
.works .title .right {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
}
.works .title .right p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 26px;
    text-align: right;
    margin: 0;
    height: 26px;
    vertical-align: center;
}
.works .title .right img {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}

.works .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));

}

.works .items > div  {
    min-height: 200px;
}

.works .item1 {
    background: #b6b6b6;
}
.works .item2 {
    background: #acacac;
}
.works .item3 {
    background: #a1a1a1;
}
.works .item4 {
    background: #8a8a8a;
}
.works .bottom {
    position: relative;
    top: 100px;
}

.works .bottom button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials {
    height: 360px;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%),
    url('../img/jpg/PUT YOUR IMAGE HERE 2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0;
}
.testimonials .text h2 {
    font-size: 100px;
    font-family: "PlayfairDisplay";
    color: rgba(255, 255, 255, 0.902);
    line-height: 0.22;
    text-align: center;
    margin: 0px 0;
}
.testimonials .text p {
    font-size: 16px;
    font-family: "PlayfairDisplay";
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.625;
    text-align: center;
    height: 95px;
    margin: 60px 0;
}
.testimonials .text h4 {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.571;
    text-align: center;
    margin: 5px 0;
}
.testimonials .text h5 {
    font-size: 13px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.692;
    text-align: center;
    margin: 0;
}
.testimonials .pict {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    width: 460px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.contacts {
    height: 650px;
    display: grid;
    grid-template-columns: minmax(460px, auto) minmax(460px, auto);
    grid-column-gap: 100px;
}
.contacts h2{
    font-size: 22px;
    font-family: "Playfair Display";
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.contacts .right .clients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    align-items: center;
}
.contacts .title {
    margin: 60px 0 50px 0;
}
.contacts .left .formulaire {
    display: grid;
    grid-template-columns: 1fr;
}

.contacts .left .formulaire input,
.contacts .left .formulaire textarea {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(65, 61, 75, 0.5);
    padding: 10px 15px;
    margin-bottom: 23px;
}

.footer {
    height: 400px;  
    width: 100%;
    background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%),
    url('../img/jpg/PUT YOUR IMAGE HERE 3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px; 
    padding-top: 70px;
}

.footer h4 {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.733;
}

.footer p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
}

.footer .center p {
    display: grid;
    grid-template-columns: 30px auto;
}
.footer .center img {
    position: relative;
    top: 3px;
}

.footer .sub {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
}

.footer .right input {
    background: none;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.502;
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.749);
    line-height: 1.857;
    padding: 7px ;
}

.footer .right ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.749);
}
.footer .right :-moz-placeholder {
    color: rgba(255, 255, 255, 0.749);
}

.footer .right button {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    width: 60px;
    height: 43px;
    cursor: pointer;
}
.footer .right .social {
    margin-top: 27px;
    cursor: pointer;
}

.footer .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}
.footer .bottom a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    transition: 0.5s;
}
.footer .bottom a:hover {
    color: #00e0d0;
}

.footer .bottom .left {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    align-items: left;
}
.footer .bottom .right {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: right;
}
