/*
 Primary Color : #00e0d0
*/

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf')
}
@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto/Roboto-Light.ttf')
}
@font-face {
    font-family: PlayfairDisplay;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf')
}
@font-face {
    font-family: Hammersmith_One;
    src: url('../fonts/Hammersmith_One/HammersmithOne-Regular.ttf')
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow-y: scroll; */
}

body {
    background-color: #fff;
}

.container {
    width: 940px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
button {
    background: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    color: #00e0d0;
    font-family: 'Hammersmith_One';
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: .5s;
}

button:hover {
    color: white;
    background-color: #00e0d0;
}

.header .container {
    height: 670px;
}

.header {
    background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%),
    url('../img/jpg/PUT YOUR IMAGE HERE.jpg');
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 670px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 15px;
}

.navigation ul {
    display: flex;
    width: 530px;
    justify-content: space-between
}

a {
    text-decoration: none;    
}

.navigation li{
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    /* padding-left: 25px; */
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.navigation li:hover {
    color: #00e0d0;
}

.main {
    position: relative;
    top: 130px;
}

.main .text {
    color: #fff
}

.main .text h1 {
    font-family: 'PlayfairDisplay';
    text-align: center;
}
.main .text .separateur {
    content: '';
    height: 1px;
    width: 50px;
    background: #00e0d0;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.text p {
    font-family: 'Roboto-Light';
    font-size: 14px;
    word-spacing: 4px;
    line-height: 1.571;
}
.main .text p {
    width: 780px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 22px 0 44px 0;
}

.main button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.dots {
    display: flex;
    position: relative;
    width: 55px;
    justify-content: space-between;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
}
.dot {
    width: 8px;
    height: 8px;
    border: 1px solid #00e0d0;
    border-radius: 50%;
}
.dot-active {
    background-color: #00e0d0;
    border-color: #00e0d0;
}

.our_story {
    height: 262px;
    padding: 70px 0;
    display: grid;
    grid-template-columns: 235px auto;
    grid-column-gap: 100px;
}

.our_story .right h1 {
    font-family: 'PlayfairDisplay';
    font-size: 22px;
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.our_story .text p{
    color: rgba(65, 61, 75, 0.749);
    padding-bottom: 30px;
    margin: 0;
}
.our_story .text {
    margin-top: 28px;
}
